In [31]:
# Import the required libraries and dependencies
import pandas as pd
import hvplot.pandas
import os
import tensorflow as tf
import numpy as np
import sqlite3

import findspark
findspark.init()

from pathlib import Path
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [2]:
#  Import and read the Ghibli_characters.csv
df = pd.read_csv("..\\project4\Resources\StudioGhibliCharacters - Sheet1.csv")
df.head()

,character name,age,height(cm),eyeColor,hairColor,specialPowers,country/placeOfResidence,gender,species,movie,releaseDate
0,Pazu,13.0,120.0,black,brown,0,Laputa,Male,Human,Castle in the Sky,1986
1,Lusheeta Toel Ul Laputa,13.0,120.0,black,black,1,Laputa,Female,Human,Castle in the Sky,1986
2,Dola,60.0,NaN,black,peach,0,Laputa,Female,Human,Castle in the Sky,1986
3,Romka Palo Ul Laputa,33.0,NaN,black,brown,0,Laputa,Male,Human,Castle in the Sky,1986
4,Uncle Pom,NaN,NaN,black,white,0,Laputa,Male,Human,Castle in the Sky,1986

In [44]:
Path('ghib_data.db').touch()

# Connect to SQLite database 
conn = sqlite3.connect('ghib_data.db') 
  
# Load CSV data into Pandas DataFrame 
ghib = pd.read_csv('..\\project4\Resources\StudioGhibliCharacters - Sheet1.csv') 
# Write the data to a sqlite table 
ghib.to_sql('sg_char', conn, if_exists='replace', index=False) 
  
# Create a cursor object 
cur = conn.cursor() 
# Fetch and display result 
for row in cur.execute('SELECT * FROM sg_char'): 
    print(row)

('Pazu', 13.0, 120.0, 'black', 'brown', 0, 'Laputa', 'Male', 'Human', 'Castle in the Sky', 1986)
('Lusheeta Toel Ul Laputa', 13.0, 120.0, 'black', 'black', 1, 'Laputa', 'Female', 'Human', 'Castle in the Sky', 1986)
('Dola', 60.0, None, 'black', 'peach', 0, 'Laputa', 'Female', 'Human', 'Castle in the Sky', 1986)
('Romka Palo Ul Laputa', 33.0, None, 'black', 'brown', 0, 'Laputa', 'Male', 'Human', 'Castle in the Sky', 1986)
('Uncle Pom', None, None, 'black', 'white', 0, 'Laputa', 'Male', 'Human', 'Castle in the Sky', 1986)
('General Muoro', None, None, 'black', 'bald', 0, 'Laputa', 'Male', 'Human', 'Castle in the Sky', 1986)
('Duffi', None, None, 'dark brown', 'dark brown', 0, 'Laputa', 'Male', 'Human', 'Castle in the Sky', 1986)
('Louis', 30.0, None, 'dark brown', 'dark brown', 0, 'Laputa', 'Male', 'Human', 'Castle in the Sky', 1986)
('Charles ', None, None, 'dark brown', 'light brown', 0, 'Laputa', 'Male', 'Human', 'Castle in the Sky', 1986)
('Henri', None, None, 'dark brown', 'reddish brown', 0, 'Laputa', 'Male', 'Human', 'Castle in the Sky', 1986)
('Motro', None, None, 'dark brown', 'bald', 0, 'Laputa', 'Male', 'Human', 'Castle in the Sky', 1986)
('Okami', 50.0, None, 'dark brown', 'orange', 0, 'Laputa', 'Female', 'Human', 'Castle in the Sky', 1986)
('Colonel Muska', 33.0, None, 'grey', 'brown', 0, 'Laputa', 'Male', 'Human', 'Castle in the Sky', 1986)
('Satsuki Kusakabe', 11.0, 110.0, 'dark brown', 'dark brown', 0, 'Japan', 'Female', 'Human', 'My Neighbor Totoro', 1988)
('Mei Kusakabe', 4.0, 100.0, 'brown', 'light brown', 0, 'Japan', 'Female', 'Human', 'My Neighbor Totoro', 1988)
('Tatsuo Kusakabe', 37.0, None, 'brown', 'light brown', 0, 'Japan', 'Male', 'Human', 'My Neighbor Totoro', 1988)
('Yasuko Kusakabe', 36.0, None, 'brown', 'dark brown', 0, 'Japan', 'Female', 'Human', 'My Neighbor Totoro', 1988)
('Granny', None, None, 'black', 'grey', 0, 'Japan', 'Female', 'Human', 'My Neighbor Totoro', 1988)
('Kanta Ogaki', 11.0, None, 'brown', 'brown', 0, 'Japan', 'Male', 'Human', 'My Neighbor Totoro', 1988)
('Totoro', 1302.0, 215.0, 'grey', 'grey', 1, 'Japan', 'Male', 'Totoro', 'My Neighbor Totoro', 1988)
('Chu Totoro', 679.0, None, 'black', 'blue', 1, 'Japan', None, 'Totoro', 'My Neighbor Totoro', 1988)
('Chibi Totoro', 109.0, None, 'black', 'white', 1, 'Japan', None, 'Totoro', 'My Neighbor Totoro', 1988)
('Catbus', None, None, 'yellow', 'brown', 1, 'Japan', 'Male', 'Bakeneko', 'My Neighbor Totoro', 1988)
('Kiki', 13.0, 130.0, 'black', 'brown', 1, 'Japan', 'Female', 'Witch', "Kiki's Delivery Service", 1989)
('Jiji', 13.0, 20.0, 'black', 'black', 1, 'Japan', 'Male', 'Cat', "Kiki's Delivery Service", 1989)
('Ursula', 18.0, 170.0, 'black', 'red ', 1, 'Japan', 'Female', 'Witch', "Kiki's Delivery Service", 1989)
('Kopoli (aka Tombo)', 14.0, None, 'black', 'brown', 0, 'Europe', 'Male', 'Human', "Kiki's Delivery Service", 1989)
('Osono', 30.0, None, 'brown', 'red', 0, 'Europe', 'Female', 'Human', "Kiki's Delivery Service", 1989)
('Fukuo', None, None, 'black', 'black', 0, 'Europe', 'Male', 'Human', "Kiki's Delivery Service", 1989)
('Seita Yokokawa', 14.0, None, 'black', 'black', 0, 'Japan', 'Male', 'Human', 'Grave of the Fireflies', 1988)
('Setsuko Yokokawa', 4.0, None, 'black', 'black', 0, 'Japan', 'Female', 'Human', 'Grave of the Fireflies', 1988)
('Mrs. Yokokawa', None, None, 'black', 'black', 0, 'Japan', 'Female', 'Human', 'Grave of the Fireflies', 1988)
('Kiyoshi Yokokawa', 40.0, None, 'black', 'brown', 0, 'Japan', 'Male', 'Human', 'Grave of the Fireflies', 1988)
("Seita's Aunt", None, None, 'black', 'black', 0, 'Japan', 'Female', 'Human', 'Grave of the Fireflies', 1988)
('Taeko Okajima', 27.0, None, 'black', 'brown', 0, 'Japan', 'Female', 'Human', 'Grave of the Fireflies', 1988)
('Toshio', None, None, 'black', 'black', 0, 'Japan', 'Male', 'Human', 'Only Yesterday', 1991)
('Mr. Okajima', None, None, 'black', 'black', 0, 'Japan', 'Male', 'Human', 'Only Yesterday', 1991)
('Mrs. Okajima', None, None, 'black', 'light brown', 0, 'Japan', 'Female', 'Human', 'Only Yesterday', 1991)
('Grandmother Okajima', None, None, 'black', 'grey', 0, 'Japan', 'Female', 'Human', 'Only Yesterday', 1991)
('Nanako Okajima', 18.0, None, 'black', 'light brown', 0, 'Japan', 'Female', 'Human', 'Only Yesterday', 1991)
('Yaeko Okajima', 16.0, None, 'black', 'grey', 0, 'Japan', 'Female', 'Human', 'Only Yesterday', 1991)
('Tani Tsuneko', 10.0, None, 'black', 'black', 0, 'Japan', 'Female', 'Human', 'Only Yesterday', 1991)
('Aiko', 10.0, None, 'black', 'grey brown', 0, 'Japan', 'Female', 'Human', 'Only Yesterday', 1991)
('Toko', 10.0, None, 'black', 'light brown', 0, 'Japan', 'Female', 'Human', 'Only Yesterday', 1991)
('Rie', 10.0, None, 'black', 'grey', 0, 'Japan', 'Female', 'Human', 'Only Yesterday', 1991)
('Porco Rosso', 47.0, None, 'black', 'brown', 0, 'Italy', 'Male', 'Human', 'Porco Rosso', 1992)
('Donald Curtis', None, None, 'brown', 'brown', 0, 'Italy', 'Male', 'Human', 'Porco Rosso', 1992)
('Fio Picccolo', 17.0, 160.0, 'brown', 'red', 0, 'Italy', 'Female', 'Human', 'Porco Rosso', 1992)
('Gina', 29.0, None, 'brown', 'brown', 0, 'Italy', 'Female', 'Human', 'Porco Rosso', 1992)
('Mr. Piccolo', None, None, 'brown', 'black', 0, 'Italy', 'Male', 'Human', 'Porco Rosso', 1992)
('Capo', None, None, 'black ', 'bald', 0, 'Italy', 'Male', 'Human', 'Porco Rosso', 1992)
('Ferrari', None, None, 'black', 'black', 0, 'Italy', 'Male', 'Human', 'Porco Rosso', 1992)
('Shoukichi', None, None, 'black', 'brown', 1, 'Japan', 'Male', 'Raccoon Dog', 'Pom Poko', 1994)
('Okiyo', None, None, 'black', 'brown', 1, 'Japan', 'Female', 'Raccoon Dog', 'Pom Poko', 1994)
('Seizaemon', None, None, 'black', 'grey', 1, 'Japan', 'Male', 'Raccoon Dog', 'Pom Poko', 1994)
('Oroku', None, None, 'black', 'grey brown', 1, 'Japan', 'Female', 'Raccoon Dog', 'Pom Poko', 1994)
('Gonta', None, None, 'black', 'grey', 1, 'Japan', 'Male', 'Raccoon Dog', 'Pom Poko', 1994)
('Inugami Gyobu', None, None, 'black', 'grey brown', 1, 'Japan', 'Male', 'Raccoon Dog', 'Pom Poko', 1994)
('Shizuku Tsukishima', 14.0, 120.0, 'black', 'light black', 0, 'Japan', 'Female', 'Human', 'Whisper of the Heart', 1995)
('Baron Humbert von Gikkingen', 23.0, 180.0, 'green', 'yellow', 1, 'Japan', 'Male', 'Human Cat', 'Whisper of the Heart', 1995)
('Seiji Amasawa', 14.0, 120.0, 'black', 'black', 0, 'Japan', 'Male', 'Human', 'Whisper of the Heart', 1995)
('Yuko Harada', 14.0, None, 'black', 'brown', 0, 'Japan', 'Female', 'Human', 'Whisper of the Heart', 1995)
('Sugimura', 14.0, None, 'black', 'brown', 0, 'Japan', 'Male', 'Human', 'Whisper of the Heart', 1995)
('Seiya Tsukishiima', 40.0, None, 'black', 'brown', 0, 'Japan', 'Male', 'Human', 'Whisper of the Heart', 1995)
('Asako Tsukishima', 39.0, None, 'black', 'brown', 0, 'Japan', 'Female', 'Human', 'Whisper of the Heart', 1995)
('Shiro Nishi', 70.0, None, 'black', 'white', 0, 'Japan', 'Male', 'Human', 'Whisper of the Heart', 1995)
('Shiho Tsukishima', 18.0, None, 'black', 'brown', 0, 'Japan', 'Female', 'Human', 'Whisper of the Heart', 1995)
('Ashitaka', 17.0, 170.0, 'brown', 'brown', 1, 'Japan', 'Male', 'Human', 'Princess Mononoke', 1997)
('San', 16.0, 150.0, 'brown', 'brown', 1, 'Japan', 'Female', 'Human', 'Princess Mononoke', 1997)
('Eboshi', None, None, 'hazel', 'black', 0, 'Japan', 'Female', 'Human', 'Princess Mononoke', 1997)
('Jigo', None, None, 'black', 'brown', 0, 'Japan', 'Male', 'Human', 'Princess Mononoke', 1997)
('Kohroku', None, None, 'black', 'brown', 0, 'Japan', 'Male', 'Human', 'Princess Mononoke', 1997)
('Gonza', None, None, 'grey', 'bald', 0, 'Japan', 'Male', 'Human', 'Princess Mononoke', 1997)
('Hii-sama', 50.0, None, 'brown', 'white', 0, 'Japan', 'Female', 'Human', 'Princess Mononoke', 1997)
('Yakul', None, None, 'grey ', 'brown', 0, 'Japan', 'Male', 'Red Elk', 'Princess Mononoke', 1997)
('Shishigami', 400.0, 180.0, 'red', 'light orange', 1, 'Japan', 'Male', 'Spirit', 'Princess Mononoke', 1997)
('Moro', 300.0, None, 'brown', 'white', 1, 'Japan', 'Female', 'Wolf', 'Princess Mononoke', 1997)
('Takashi Yamada', None, None, 'black', 'black', 0, 'Japan', 'Male', 'Human', 'My Neighbors the Yamadas', 1999)
('Matsuko Yamada', None, None, 'black', 'grey', 0, 'Japan', 'Female', 'Human', 'My Neighbors the Yamadas', 1999)
('Noboru Yamada', 13.0, None, 'black', 'black', 0, 'Japan', 'Male', 'Human', 'My Neighbors the Yamadas', 1999)
('Nonoko Yamada', 5.0, None, 'black', 'brown', 0, 'Japan', 'Female', 'Human', 'My Neighbors the Yamadas', 1999)
('Shige Yamano', None, None, 'black', 'white', 0, 'Japan', 'Female', 'Human', 'My Neighbors the Yamadas', 1999)
('Chihiro', 10.0, 120.0, 'black', 'brown', 0, 'Japan', 'Female', 'Human', 'Spirited Away', 2001)
('Haku', 12.0, 180.0, 'green', 'green', 1, 'Japan', 'Male', 'Spirit', 'Spirited Away', 2001)
('Yubaba', 200.0, 150.0, 'dark brown', 'white', 1, 'Japan', 'Female', 'Witch', 'Spirited Away', 2001)
('Kamaji', 40.0, 150.0, None, 'bald', 1, 'Japan', 'Male', 'Spirit', 'Spirited Away', 2001)
('No-Face', None, 180.0, None, None, 1, 'Japan', 'Male', 'Spirit', 'Spirited Away', 2001)
('Rin', 23.0, 150.0, 'brown', 'brown', 1, 'Japan', 'Female', 'Spirit', 'Spirited Away', 2001)
('Boh', 1.0, None, 'black', 'bald', 1, 'Japan', 'Male', 'Giant Baby', 'Spirited Away', 2001)
('Zeniba', 200.0, 150.0, 'dark brown', 'whtie', 1, 'Japan', 'Female', 'Witch', 'Spirited Away', 2001)
('Akio Ogino', 38.0, None, 'black', 'brown', 0, 'Japan', 'Male', 'Human', 'Spirited Away', 2001)
('Yuko Ogino', 35.0, None, 'dark brown', 'brown', 0, 'Japan', 'Female', 'Human', 'Spirited Away', 2001)
('Muta', None, 40.0, 'white', 'beige', 1, 'Japan', 'Male', 'Cat', 'The Cat Returns', 2002)
('Cat King', 87.0, None, 'emerald', 'grey', 0, 'Japan', 'Male', 'Cat', 'The Cat Returns', 2002)
('Yuki', None, None, 'blue', 'white', 0, 'Japan', 'Female', 'Cat', 'The Cat Returns', 2002)
('Haru Yoshioka', 17.0, 150.0, 'brown', 'brown', 1, 'Japan', 'Female', 'Human', 'The Cat Returns', 2002)
('Natori ', None, None, 'blue', 'grey', 0, 'Japan', 'Male', 'Cat', 'The Cat Returns', 2002)
('Toto ', None, None, 'black', 'dark blue', 1, 'Japan', 'Male', 'Gargoyle(Bird)', 'The Cat Returns', 2002)
('Prince Lune', None, None, 'dark brown', 'russian blue', 0, 'Japan', 'Male', 'Cat', 'The Cat Returns', 2002)
('Hiromi', 17.0, None, 'brown', 'light brown', 0, 'Japan', 'Female', 'Human', 'The Cat Returns', 2002)
('Naoko Yoshioka', None, None, 'light brown', 'light brown', 0, 'Japan', 'Female', 'Human', 'The Cat Returns', 2002)
('Sophie Hatter', 18.0, 150.0, 'brown', 'white', 0, 'Europe', 'Female', 'Human', "Howl's Moving Castle", 2004)
('Witch of the Waste', 59.0, None, 'brown', 'brown', 1, 'Europe', 'Female', 'Witch', "Howl's Moving Castle", 2004)
('Calcifer', None, 30.0, 'dark brown', 'orange yellow', 1, 'Europe', 'Male', 'Fire Demon', "Howl's Moving Castle", 2004)
('Markl', 10.0, 110.0, 'dark brown', 'brown', 1, 'Europe', 'Male', 'Human', "Howl's Moving Castle", 2004)
('Prince Justin (aka Turnip Head)', 25.0, None, 'grey', 'blonde', 0, 'Europe', 'Male', 'Human/Scarecrow', "Howl's Moving Castle", 2004)
('Madame Suliman', 75.0, None, 'grey', 'white', 0, 'Europe', 'Female', 'Witch', "Howl's Moving Castle", 2004)
('Heen', None, 120.0, 'brown', 'beige white', 1, 'Europe', 'Male', 'Dog', "Howl's Moving Castle", 2004)
('Lettie Hatter', 16.0, 130.0, 'blue', 'blonde', 0, 'Europe', 'Female', 'Human', "Howl's Moving Castle", 2004)
('Fanny Hatter (aka Honey)', None, 120.0, 'grey', 'blonde', 0, 'Europe', 'Female', 'Human', "Howl's Moving Castle", 2004)
('Ged', None, None, 'brown', 'black', 0, 'Europe', 'Male', 'Human', 'Tales from Earthsea', 2006)
('Arren/Lebannen', 17.0, 170.0, 'dark brown', 'dark brown', 1, 'Europe', 'Male', 'Human', 'Tales from Earthsea', 2006)
('Therru', 16.0, None, 'dark brown', 'dark brown', 1, 'Europe', 'Female', 'Dragon/Human', 'Tales from Earthsea', 2006)
('Tenar', None, None, 'grey', 'blonde', 0, 'Europe', 'Female', 'Human', 'Tales from Earthsea', 2006)
('King of Enlad', None, None, 'dark brown', 'brown', 0, 'Europe', 'Male', 'Human', 'Tales from Earthsea', 2006)
('Cob', None, None, 'violet', 'purple', 1, 'Europe', 'Male', 'Arch-Mage', 'Tales from Earthsea', 2006)
('Hare', None, None, 'dark brown', 'brown', 0, 'Europe', 'Male', 'Human', 'Tales from Earthsea', 2006)
('Hazia Dealer', None, None, 'dark brown', 'brown', 0, 'Europe', 'Male', 'Human', 'Tales from Earthsea', 2006)
('Sosuke', 5.0, 100.0, 'brown', 'brown', 0, 'Japan', 'Male', 'Human', 'Ponyo on the Cliff by the Sea', 2008)
('Ponyo', 5.0, 80.0, 'dark brown', 'red', 1, 'Japan', 'Female', 'Fish/Human', 'Ponyo on the Cliff by the Sea', 2008)
('Koichi', 30.0, None, 'dark brown', 'black', 0, 'Japan', 'Male', 'Human', 'Ponyo on the Cliff by the Sea', 2008)
('Fujimoto', 40.0, 170.0, 'light green', 'red', 1, 'Japan', 'Male', 'Wizard', 'Ponyo on the Cliff by the Sea', 2008)
('Granmammare', 600.0, 150.0, 'brown', 'red', 1, 'Japan', 'Female', 'Deity', 'Ponyo on the Cliff by the Sea', 2008)
('Lisa', 25.0, None, 'dark brown', 'brown', 0, 'Japan', 'Female', 'Human', 'Ponyo on the Cliff by the Sea', 2008)
('Toki', 72.0, None, 'dark brown', 'white', 0, 'Japan', 'Female', 'Human', 'Ponyo on the Cliff by the Sea', 2008)
('Yoshie', 68.0, None, 'dark brown', 'blonde', 0, 'Japan', 'Female', 'Human', 'Ponyo on the Cliff by the Sea', 2008)
('Noriko', 70.0, None, 'dark brown', 'brown', 0, 'Japan', 'Female', 'Human', 'Ponyo on the Cliff by the Sea', 2008)
('Koyo', 68.0, None, 'dark brown', 'brown', 0, 'Japan', 'Female', 'Human', 'Ponyo on the Cliff by the Sea', 2008)
('Arrietty', 14.0, 10.0, 'black', 'auburn', 0, 'Europe', 'Female', 'Borrower', 'The Secret World of Arrietty', 2010)
('Sho (Shawn)', 13.0, 8.0, 'brown', 'navy blue', 0, 'Europe', 'Male', 'Borrower', 'The Secret World of Arrietty', 2010)
('Homily Clock', 52.0, 11.0, 'brown', 'navy black', 0, 'Europe', 'Male', 'Borrower', 'The Secret World of Arrietty', 2010)
('Sadako Maki/Jessica', None, None, 'black', 'grey', 0, 'Europe', 'Female', 'Human', 'The Secret World of Arrietty', 2010)
('Haru (aka Hara)', None, None, 'brown', 'brown', 0, 'Europe', 'Female', 'Human', 'The Secret World of Arrietty', 2010)
('Spiller', 18.0, 9.0, 'black', 'navy black', 0, 'Europe', 'Male', 'Borrower', 'The Secret World of Arrietty', 2010)
('Pod Clock', 52.0, 12.0, 'grey', 'brown', 0, 'Europe', 'Male', 'Borrower', 'The Secret World of Arrietty', 2010)
('Niya', None, None, 'white', 'beige', 0, 'Europe', 'Male', 'Cat', 'The Secret World of Arrietty', 2010)
('Umi Matsuzaki', 16.0, None, 'hazel', 'brown', 0, 'Japan', 'Female', 'Human', 'From Up on Poppy Hill', 2011)
('Shun Kazama', 17.0, None, 'black', 'dark brown', 0, 'Japan', 'Male', 'Human', 'From Up on Poppy Hill', 2011)
('Yuichiro Sawamura', None, None, 'brown', 'brown', 0, 'Japan', 'Male', 'Human', 'From Up on Poppy Hill', 2011)
('Sora Matsuzaki', 13.0, None, 'black', 'brown', 0, 'Japan', 'Female', 'Human', 'From Up on Poppy Hill', 2011)
('Shirou Mizunuma', 18.0, None, 'black', 'brown', 0, 'Japan', 'Male', 'Human', 'From Up on Poppy Hill', 2011)
('Ryoko Matsuzaki', None, None, 'black', 'brown', 0, 'Japan', 'Female', 'Human', 'From Up on Poppy Hill', 2011)
('Riku Matsuzaki', 11.0, None, 'black', 'brown', 0, 'Japan', 'Male', 'Human', 'From Up on Poppy Hill', 2011)
('Hana Matsuzaki', None, None, 'brown ', 'dark grey', 0, 'Japan', 'Female', 'Human', 'From Up on Poppy Hill', 2011)
('Naoko Satomi', None, None, 'black', 'navy blue', 0, 'Japan', 'Female', 'Human', 'The Wind Rises', 2013)
('Jiro Horikoshi', 42.0, None, 'black', 'brown', 0, 'Japan', 'Male', 'Human', 'The Wind Rises', 2013)
('Castorp', None, None, 'light brown', 'brown', 0, 'Germany', 'Male', 'Human', 'The Wind Rises', 2013)
('Kiro Honjo', None, None, 'black', 'brown', 0, 'Japan', 'Male', 'Human', 'The Wind Rises', 2013)
('Kayo Horikoshi', 10.0, None, 'dark brown', 'brown', 0, 'Japan', 'Female', 'Human', 'The Wind Rises', 2013)
('Caproni', 45.0, None, 'black', 'brown', 0, 'Italy', 'Male', 'Human', 'The Wind Rises', 2013)
('Mr. Kurokawa', None, None, 'black', 'navy blue', 0, 'Japan', 'Male', 'Human', 'The Wind Rises', 2013)
('Hattori', None, None, 'black', 'grey', 0, 'Japan', 'Male', 'Human', 'The Wind Rises', 2013)
('Kaguya', None, 150.0, 'black', 'navy blue', 1, 'Japan', 'Female', 'Moon Princess', 'The Tale of Princess Kaguya', 2013)
('Sutemaru', None, None, 'black', 'black', 0, 'Japan', 'Male', 'Human', 'The Tale of Princess Kaguya', 2013)
('Ishitsukuri', None, None, 'black', 'black', 0, 'Japan', 'Male', 'Human', 'The Tale of Princess Kaguya', 2013)
('Miyatsuko', None, None, 'grey', 'white', 0, 'Japan', 'Male', 'Human', 'The Tale of Princess Kaguya', 2013)
('Menowarwa', 17.0, None, 'black', 'navy blue', 0, 'Japan', 'Female', 'Human', 'The Tale of Princess Kaguya', 2013)
('Lady Sagami', None, None, 'black', 'black', 0, 'Japan', 'Female', 'Human', 'The Tale of Princess Kaguya', 2013)
('Inbe no Akita', None, None, 'black', 'white', 0, 'Japan', 'Male', 'Human', 'The Tale of Princess Kaguya', 2013)
('Okkoto', 500.0, 200.0, 'green grey', 'grey', 1, 'Japan', 'Male', 'Boar God', 'The Tale of Princess Kaguya', 2013)
('Ona', None, None, 'black ', 'grey', 0, 'Japan', 'Female', 'Human', 'The Tale of Princess Kaguya', 2013)
('Marnie', 12.0, 150.0, 'green', 'blonde', 0, 'Europe', 'Female', 'Human', 'When Marnie Was There', 2014)
('Anna Sasaki', 12.0, 140.0, 'blue', 'brown', 0, 'Europe', 'Female', 'Human', 'When Marnie Was There', 2014)
('Emily', 20.0, None, 'dark brown', 'brown', 0, 'Europe', 'Female', 'Human', 'When Marnie Was There', 2014)
('Kazuhiko', 16.0, None, 'dark brown', 'brown', 0, 'Japan', 'Male', 'Human', 'When Marnie Was There', 2014)
('Setsu Oiwa', 55.0, None, 'dark brown', 'brown', 0, 'Japan', 'Male', 'Human', 'When Marnie Was There', 2014)
('Hisako', None, None, 'dark brown', 'grey', 0, 'Japan', 'Female', 'Human', 'When Marnie Was There', 2014)
('Yoriko Sasaki', None, None, 'dark brown', 'brown', 0, 'Japan', 'Female', 'Human', 'When Marnie Was There', 2014)
('Sayaka', 11.0, None, 'teal', 'brown', 0, 'Japan', 'Female', 'Human', 'When Marnie Was There', 2014)
('Kiyomasa Oiwa', 55.0, None, 'dark brown', 'brown', 0, 'Japan', 'Male', 'Human', 'When Marnie Was There', 2014)
('Doctor Yamashita', None, None, 'black', 'navy blue', 0, 'Japan', 'Male', 'Human', 'When Marnie Was There', 2014)
('Nausicaa', 16.0, 150.0, 'brown', 'auburn', 1, 'Middle East', 'Female', 'New Human', 'Nausicaa of the Valley of the Wind', 1984)
('Mito', None, None, 'brown', 'brown', 0, 'Middle East', 'Male', 'New Human', 'Nausicaa of the Valley of the Wind', 1984)
('Lord Yupa', None, None, 'brown', 'grey', 0, 'Middle East', 'Male', 'New Human', 'Nausicaa of the Valley of the Wind', 1984)
('Teto', None, None, 'green', 'brown striped', 0, 'Middle East', 'Male', 'Fox Squirrel', 'Nausicaa of the Valley of the Wind', 1984)
('Gol', None, None, 'brown', 'grey', 0, 'Middle East', 'Male', 'New Human', 'Nausicaa of the Valley of the Wind', 1984)
('Jhil', 50.0, None, 'brown', 'grey', 0, 'Middle East', 'Male', 'New Human', 'Nausicaa of the Valley of the Wind', 1984)
('Obaba', None, None, None, 'brown', 0, 'Middle East', 'Female', 'New Human', 'Nausicaa of the Valley of the Wind', 1984)
('Mayor of Pejite', None, None, 'brown', 'brown', 0, 'Middle East', 'Male', 'New Human', 'Nausicaa of the Valley of the Wind', 1984)
('Asbel (aka Milo)', 16.0, None, 'brown', 'brown', 0, 'Middle East', 'Male', 'New Human', 'Nausicaa of the Valley of the Wind', 1984)
('Princess Lastelle', 16.0, None, 'brown', 'auburn', 0, 'Middle East', 'Female', 'New Human', 'Nausicaa of the Valley of the Wind', 1984)
("Lastelle's Mother", None, None, 'brown', 'brown', 0, 'Middle East', 'Female', 'New Human', 'Nausicaa of the Valley of the Wind', 1984)
('Kushana', 25.0, None, 'blue', 'ginger', 0, 'Middle East', 'Female', 'New Human', 'Nausicaa of the Valley of the Wind', 1984)
('Kurotowa', None, None, 'brown', 'brown', 0, 'Middle East', 'Male', 'New Human', 'Nausicaa of the Valley of the Wind', 1984)

In [62]:
# Query database for all distinct species and their counts
species_query = """
SELECT DISTINCT species, COUNT(species)
FROM sg_char
GROUP BY species;
"""

all_species = pd.read_sql_query(species_query, conn)
all_species

            species  COUNT(species)
0         Arch-Mage               1
1          Bakeneko               1
2          Boar God               1
3          Borrower               5
4               Cat               7
5             Deity               1
6               Dog               1
7      Dragon/Human               1
8        Fire Demon               1
9        Fish/Human               1
10     Fox Squirrel               1
11   Gargoyle(Bird)               1
12       Giant Baby               1
13            Human             123
14        Human Cat               1
15  Human/Scarecrow               1
16    Moon Princess               1
17        New Human              12
18      Raccoon Dog               6
19          Red Elk               1
20           Spirit               5
21           Totoro               3
22            Witch               6
23           Wizard               1
24             Wolf               1

In [65]:
# Query database for Males vs Females
male_query = """
SELECT gender, COUNT(gender)
FROM sg_char
GROUP BY gender;
"""

male_characters = pd.read_sql_query(male_query,conn)
male_characters

   gender  COUNT(gender)
0    None              0
1  Female             84
2    Male             98

In [66]:
# Query database for all characters that share same eye color
eyeColor_query = """
SELECT eyeColor, COUNT(eyeColor)
FROM sg_char
GROUP BY eyeColor;
"""

same_eyeColors = pd.read_sql_query(eyeColor_query,conn)
same_eyeColors

       eyeColor  COUNT(eyeColor)
0          None                0
1         black               78
2        black                 2
3          blue                5
4         brown               36
5        brown                 1
6    dark brown               32
7       emerald                1
8         green                4
9    green grey                1
10         grey                9
11        grey                 1
12        hazel                2
13  light brown                2
14  light green                1
15          red                1
16         teal                1
17       violet                1
18        white                2
19       yellow                1

In [67]:
# Query database for all characters that share hair color
hairColor_query = """
SELECT hairColor, COUNT(hairColor)
FROM sg_char
GROUP BY hairColor;
"""

same_hairColors = pd.read_sql_query(hairColor_query,conn)
same_hairColors

        hairColor  COUNT(hairColor)
0            None                 0
1          auburn                 3
2            bald                 6
3           beige                 2
4     beige white                 1
5           black                21
6          blonde                 6
7            blue                 1
8           brown                65
9   brown striped                 1
10      dark blue                 1
11     dark brown                 7
12      dark grey                 1
13         ginger                 1
14          green                 1
15           grey                18
16     grey brown                 3
17    light black                 1
18    light brown                 8
19   light orange                 1
20     navy black                 2
21      navy blue                 6
22         orange                 1
23  orange yellow                 1
24          peach                 1
25         purple                 1
26            red                 5
27           red                  1
28  reddish brown                 1
29   russian blue                 1
30          white                13
31          whtie                 1
32         yellow                 1

In [71]:
# Query how many characters are in a movie
charInMovie = """
SELECT movie, COUNT('character name') as numberOfCharacters
FROM sg_char
GROUP BY movie;
"""

movies = pd.read_sql_query(charInMovie,conn)
movies

                                 movie  numberOfCharacters
0                    Castle in the Sky                  13
1                From Up on Poppy Hill                   8
2               Grave of the Fireflies                   6
3                 Howl's Moving Castle                   9
4              Kiki's Delivery Service                   6
5                   My Neighbor Totoro                  10
6             My Neighbors the Yamadas                   5
7   Nausicaa of the Valley of the Wind                  13
8                       Only Yesterday                  10
9                             Pom Poko                   6
10       Ponyo on the Cliff by the Sea                  10
11                         Porco Rosso                   7
12                   Princess Mononoke                  10
13                       Spirited Away                  10
14                 Tales from Earthsea                   8
15                     The Cat Returns                   9
16        The Secret World of Arrietty                   8
17         The Tale of Princess Kaguya                   9
18                      The Wind Rises                   8
19               When Marnie Was There                  10
20                Whisper of the Heart                   9

In [72]:
# Close connection to SQLite database 
conn.close()

In [3]:
# clean dataframe and drop non-beneficial 
cleanedCharacters = df.drop(columns = ['character name','movie', 'releaseDate', 'country/placeOfResidence','eyeColor'], axis=1)
cleanedCharacters.head(20)

       age  height(cm)      hairColor  specialPowers  gender species
0     13.0       120.0          brown              0    Male   Human
1     13.0       120.0          black              1  Female   Human
2     60.0         NaN          peach              0  Female   Human
3     33.0         NaN          brown              0    Male   Human
4      NaN         NaN          white              0    Male   Human
5      NaN         NaN           bald              0    Male   Human
6      NaN         NaN     dark brown              0    Male   Human
7     30.0         NaN     dark brown              0    Male   Human
8      NaN         NaN    light brown              0    Male   Human
9      NaN         NaN  reddish brown              0    Male   Human
10     NaN         NaN           bald              0    Male   Human
11    50.0         NaN         orange              0  Female   Human
12    33.0         NaN          brown              0    Male   Human
13    11.0       110.0     dark brown              0  Female   Human
14     4.0       100.0    light brown              0  Female   Human
15    37.0         NaN    light brown              0    Male   Human
16    36.0         NaN     dark brown              0  Female   Human
17     NaN         NaN           grey              0  Female   Human
18    11.0         NaN          brown              0    Male   Human
19  1302.0       215.0           grey              1    Male  Totoro

In [4]:
characters_df = cleanedCharacters.replace(np.nan, 0)
characters_df.head(20)

       age  height(cm)      hairColor  specialPowers  gender species
0     13.0       120.0          brown              0    Male   Human
1     13.0       120.0          black              1  Female   Human
2     60.0         0.0          peach              0  Female   Human
3     33.0         0.0          brown              0    Male   Human
4      0.0         0.0          white              0    Male   Human
5      0.0         0.0           bald              0    Male   Human
6      0.0         0.0     dark brown              0    Male   Human
7     30.0         0.0     dark brown              0    Male   Human
8      0.0         0.0    light brown              0    Male   Human
9      0.0         0.0  reddish brown              0    Male   Human
10     0.0         0.0           bald              0    Male   Human
11    50.0         0.0         orange              0  Female   Human
12    33.0         0.0          brown              0    Male   Human
13    11.0       110.0     dark brown              0  Female   Human
14     4.0       100.0    light brown              0  Female   Human
15    37.0         0.0    light brown              0    Male   Human
16    36.0         0.0     dark brown              0  Female   Human
17     0.0         0.0           grey              0  Female   Human
18    11.0         0.0          brown              0    Male   Human
19  1302.0       215.0           grey              1    Male  Totoro

In [9]:
# Scale price data, return, and variance values
data_scaled = StandardScaler().fit_transform(
    characters_df[["age","height(cm)"]]
)

In [10]:
# Create a DataFrame with the scaled data
df_data_scaled = pd.DataFrame(
    data_scaled,
    columns=[["age","height(cm)"]]
)

# Display sample data
df_data_scaled.head()

        age height(cm)
0 -0.191102   1.517909
1 -0.191102   1.517909
2  0.179696  -0.504138
3 -0.033315  -0.504138
4 -0.293663  -0.504138

In [13]:
# get_dummies to convert categorical values to numerical values
cat_dum = cleanedCharacters.copy()
cat_dum.drop(columns=["age","species","height(cm)"], axis=1, inplace=True)
cat_dum2 = pd.concat([cat_dum, df_data_scaled], axis=1)
ghibli_dummies = pd.get_dummies(cat_dum2)
ghibli_dummies.head()

,specialPowers,"(age,)","(height(cm),)",hairColor_auburn,hairColor_bald,hairColor_beige,hairColor_beige white,hairColor_black,hairColor_blonde,hairColor_blue,...,hairColor_purple,hairColor_red,hairColor_red,hairColor_reddish brown,hairColor_russian blue,hairColor_white,hairColor_whtie,hairColor_yellow,gender_Female,gender_Male
0,0,-0.191102,1.517909,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
1,1,-0.191102,1.517909,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,True,False
2,0,0.179696,-0.504138,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
3,0,-0.033315,-0.504138,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
4,0,-0.293663,-0.504138,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,True

In [14]:
print(ghibli_dummies)

     specialPowers    (age,)  (height(cm),)  hairColor_auburn  hairColor_bald  \
0                0 -0.191102       1.517909             False           False
1                1 -0.191102       1.517909             False           False
2                0  0.179696      -0.504138             False           False
3                0 -0.033315      -0.504138             False           False
4                0 -0.293663      -0.504138             False           False
..             ...       ...            ...               ...             ...
179              0 -0.167434      -0.504138             False           False
180              0 -0.167434      -0.504138              True           False
181              0 -0.293663      -0.504138             False           False
182              0 -0.096430      -0.504138             False           False
183              0 -0.293663      -0.504138             False           False

     hairColor_beige  hairColor_beige white  hairColor_black  \
0              False                  False            False
1              False                  False             True
2              False                  False            False
3              False                  False            False
4              False                  False            False
..               ...                    ...              ...
179            False                  False            False
180            False                  False            False
181            False                  False            False
182            False                  False            False
183            False                  False            False

     hairColor_blonde  hairColor_blue  ...  hairColor_purple  hairColor_red  \
0               False           False  ...             False          False
1               False           False  ...             False          False
2               False           False  ...             False          False
3               False           False  ...             False          False
4               False           False  ...             False          False
..                ...             ...  ...               ...            ...
179             False           False  ...             False          False
180             False           False  ...             False          False
181             False           False  ...             False          False
182             False           False  ...             False          False
183             False           False  ...             False          False

     hairColor_red   hairColor_reddish brown  hairColor_russian blue  \
0             False                    False                   False
1             False                    False                   False
2             False                    False                   False
3             False                    False                   False
4             False                    False                   False
..              ...                      ...                     ...
179           False                    False                   False
180           False                    False                   False
181           False                    False                   False
182           False                    False                   False
183           False                    False                   False

     hairColor_white  hairColor_whtie  hairColor_yellow  gender_Female  \
0              False            False             False          False
1              False            False             False           True
2              False            False             False           True
3              False            False             False          False
4               True            False             False          False
..               ...              ...               ...            ...
179            False            False             False          False
180            False            False             False           True
181            False            False             False           True
182            False            False             False           True
183            False            False             False          False

     gender_Male
0           True
1          False
2          False
3           True
4           True
..           ...
179         True
180        False
181        False
182        False
183         True

[184 rows x 37 columns]

In [15]:
# Look at Species value counts for binning
species_class = df['species']
species_class.head()

0    Human
1    Human
2    Human
3    Human
4    Human
Name: species, dtype: object

In [17]:
# Create All Human species classifications to be replaced with 1
Humans = species_class[species_class == "Human"]

# Replace in dataframe
for species in Humans:
    df['species'] = df['species'].replace(species,"1")

# Check to make sure binning was successful
df['species']

0              1
1              1
2              1
3              1
4              1
         ...
179    New Human
180    New Human
181    New Human
182    New Human
183    New Human
Name: species, Length: 184, dtype: object

In [18]:
# Create All Human species classifications to be replaced with 1
OtherSpecies = species_class[species_class != "Human"]

# Replace in dataframe
for species in OtherSpecies:
    df['species'] = df['species'].replace(species,"0")

# Check to make sure binning was successful
df['species']

0      1
1      1
2      1
3      1
4      1
      ..
179    0
180    0
181    0
182    0
183    0
Name: species, Length: 184, dtype: object

In [19]:
# split data into features and target arrays
y = df['species'].astype('float64')
X = ghibli_dummies.values

In [20]:
# show first 3 X values
X[:3]

array([[0, -0.1911015378102931, 1.5179092379321943, False, False, False,
        False, False, False, False, True, False, False, False, False,
        False, False, False, False, False, False, False, False, False,
        False, False, False, False, False, False, False, False, False,
        False, False, False, True],
       [1, -0.1911015378102931, 1.5179092379321943, False, False, False,
        False, True, False, False, False, False, False, False, False,
        False, False, False, False, False, False, False, False, False,
        False, False, False, False, False, False, False, False, False,
        False, False, True, False],
       [0, 0.1796963304830465, -0.5041381812860772, False, False, False,
        False, False, False, False, False, False, False, False, False,
        False, False, False, False, False, False, False, False, False,
        False, False, True, False, False, False, False, False, False,
        False, False, True, False]], dtype=object)

In [21]:
# show 10 y values
y[:20]

0     1.0
1     1.0
2     1.0
3     1.0
4     1.0
5     1.0
6     1.0
7     1.0
8     1.0
9     1.0
10    1.0
11    1.0
12    1.0
13    1.0
14    1.0
15    1.0
16    1.0
17    1.0
18    1.0
19    0.0
Name: species, dtype: float64

In [22]:
# split data into training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=17)
print("Training Data Info")
print("Training Data Shape:", X_train.shape)
print("Training Data Labels Shape:", y_train.shape)

Training Data Info
Training Data Shape: (138, 37)
Training Data Labels Shape: (138,)

In [23]:
# Create Standard Scaler
scaler = StandardScaler()

# Fit scaler to training data
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [27]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=5, activation='relu', input_dim=37))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=10, activation='relu'))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=20, activation='tanh'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_4 (Dense)             (None, 5)                 190

 dense_5 (Dense)             (None, 10)                60

 dense_6 (Dense)             (None, 20)                220

 dense_7 (Dense)             (None, 1)                 21

=================================================================
Total params: 491 (1.92 KB)
Trainable params: 491 (1.92 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [28]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer='adam', metrics=['accuracy'])

In [29]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
5/5 [==============================] - 2s 2ms/step - loss: 0.6847 - accuracy: 0.6014
Epoch 2/100
5/5 [==============================] - 0s 3ms/step - loss: 0.6711 - accuracy: 0.6739
Epoch 3/100
5/5 [==============================] - 0s 4ms/step - loss: 0.6587 - accuracy: 0.6739
Epoch 4/100
5/5 [==============================] - 0s 5ms/step - loss: 0.6475 - accuracy: 0.6812
Epoch 5/100
5/5 [==============================] - 0s 4ms/step - loss: 0.6361 - accuracy: 0.7464
Epoch 6/100
5/5 [==============================] - 0s 4ms/step - loss: 0.6246 - accuracy: 0.7754
Epoch 7/100
5/5 [==============================] - 0s 5ms/step - loss: 0.6147 - accuracy: 0.7826
Epoch 8/100
5/5 [==============================] - 0s 4ms/step - loss: 0.6027 - accuracy: 0.7826
Epoch 9/100
5/5 [==============================] - 0s 4ms/step - loss: 0.5911 - accuracy: 0.7754
Epoch 10/100
5/5 [==============================] - 0s 4ms/step - loss: 0.5788 - accuracy: 0.7971
Epoch 11/100
5/5 [==============================] - 0s 4ms/step - loss: 0.5664 - accuracy: 0.7899
Epoch 12/100
5/5 [==============================] - 0s 5ms/step - loss: 0.5540 - accuracy: 0.8043
Epoch 13/100
5/5 [==============================] - 0s 4ms/step - loss: 0.5421 - accuracy: 0.8188
Epoch 14/100
5/5 [==============================] - 0s 5ms/step - loss: 0.5297 - accuracy: 0.8261
Epoch 15/100
5/5 [==============================] - 0s 5ms/step - loss: 0.5173 - accuracy: 0.8261
Epoch 16/100
5/5 [==============================] - 0s 5ms/step - loss: 0.5056 - accuracy: 0.8261
Epoch 17/100
5/5 [==============================] - 0s 4ms/step - loss: 0.4935 - accuracy: 0.8261
Epoch 18/100
5/5 [==============================] - 0s 6ms/step - loss: 0.4806 - accuracy: 0.8406
Epoch 19/100
5/5 [==============================] - 0s 3ms/step - loss: 0.4691 - accuracy: 0.8478
Epoch 20/100
5/5 [==============================] - 0s 3ms/step - loss: 0.4570 - accuracy: 0.8551
Epoch 21/100
5/5 [==============================] - 0s 5ms/step - loss: 0.4450 - accuracy: 0.8623
Epoch 22/100
5/5 [==============================] - 0s 4ms/step - loss: 0.4346 - accuracy: 0.8696
Epoch 23/100
5/5 [==============================] - 0s 4ms/step - loss: 0.4242 - accuracy: 0.8696
Epoch 24/100
5/5 [==============================] - 0s 4ms/step - loss: 0.4133 - accuracy: 0.8768
Epoch 25/100
5/5 [==============================] - 0s 4ms/step - loss: 0.4046 - accuracy: 0.8841
Epoch 26/100
5/5 [==============================] - 0s 4ms/step - loss: 0.3960 - accuracy: 0.8841
Epoch 27/100
5/5 [==============================] - 0s 4ms/step - loss: 0.3871 - accuracy: 0.8768
Epoch 28/100
5/5 [==============================] - 0s 5ms/step - loss: 0.3789 - accuracy: 0.8768
Epoch 29/100
5/5 [==============================] - 0s 4ms/step - loss: 0.3711 - accuracy: 0.8913
Epoch 30/100
5/5 [==============================] - 0s 5ms/step - loss: 0.3641 - accuracy: 0.8913
Epoch 31/100
5/5 [==============================] - 0s 4ms/step - loss: 0.3576 - accuracy: 0.8841
Epoch 32/100
5/5 [==============================] - 0s 4ms/step - loss: 0.3525 - accuracy: 0.8841
Epoch 33/100
5/5 [==============================] - 0s 4ms/step - loss: 0.3466 - accuracy: 0.8841
Epoch 34/100
5/5 [==============================] - 0s 5ms/step - loss: 0.3408 - accuracy: 0.8913
Epoch 35/100
5/5 [==============================] - 0s 4ms/step - loss: 0.3354 - accuracy: 0.8913
Epoch 36/100
5/5 [==============================] - 0s 5ms/step - loss: 0.3304 - accuracy: 0.8986
Epoch 37/100
5/5 [==============================] - 0s 4ms/step - loss: 0.3254 - accuracy: 0.9058
Epoch 38/100
5/5 [==============================] - 0s 4ms/step - loss: 0.3217 - accuracy: 0.9130
Epoch 39/100
5/5 [==============================] - 0s 4ms/step - loss: 0.3178 - accuracy: 0.9130
Epoch 40/100
5/5 [==============================] - 0s 5ms/step - loss: 0.3137 - accuracy: 0.9130
Epoch 41/100
5/5 [==============================] - 0s 6ms/step - loss: 0.3100 - accuracy: 0.9203
Epoch 42/100
5/5 [==============================] - 0s 3ms/step - loss: 0.3063 - accuracy: 0.9203
Epoch 43/100
5/5 [==============================] - 0s 3ms/step - loss: 0.3026 - accuracy: 0.9203
Epoch 44/100
5/5 [==============================] - 0s 5ms/step - loss: 0.2992 - accuracy: 0.9203
Epoch 45/100
5/5 [==============================] - 0s 2ms/step - loss: 0.2959 - accuracy: 0.9203
Epoch 46/100
5/5 [==============================] - 0s 5ms/step - loss: 0.2925 - accuracy: 0.9203
Epoch 47/100
5/5 [==============================] - 0s 4ms/step - loss: 0.2896 - accuracy: 0.9203
Epoch 48/100
5/5 [==============================] - 0s 4ms/step - loss: 0.2863 - accuracy: 0.9275
Epoch 49/100
5/5 [==============================] - 0s 3ms/step - loss: 0.2843 - accuracy: 0.9275
Epoch 50/100
5/5 [==============================] - 0s 5ms/step - loss: 0.2826 - accuracy: 0.9203
Epoch 51/100
5/5 [==============================] - 0s 5ms/step - loss: 0.2799 - accuracy: 0.9203
Epoch 52/100
5/5 [==============================] - 0s 4ms/step - loss: 0.2766 - accuracy: 0.9275
Epoch 53/100
5/5 [==============================] - 0s 4ms/step - loss: 0.2740 - accuracy: 0.9275
Epoch 54/100
5/5 [==============================] - 0s 4ms/step - loss: 0.2713 - accuracy: 0.9275
Epoch 55/100
5/5 [==============================] - 0s 4ms/step - loss: 0.2693 - accuracy: 0.9203
Epoch 56/100
5/5 [==============================] - 0s 3ms/step - loss: 0.2671 - accuracy: 0.9203
Epoch 57/100
5/5 [==============================] - 0s 3ms/step - loss: 0.2651 - accuracy: 0.9203
Epoch 58/100
5/5 [==============================] - 0s 4ms/step - loss: 0.2634 - accuracy: 0.9203
Epoch 59/100
5/5 [==============================] - 0s 3ms/step - loss: 0.2615 - accuracy: 0.9130
Epoch 60/100
5/5 [==============================] - 0s 3ms/step - loss: 0.2600 - accuracy: 0.9130
Epoch 61/100
5/5 [==============================] - 0s 4ms/step - loss: 0.2582 - accuracy: 0.9203
Epoch 62/100
5/5 [==============================] - 0s 3ms/step - loss: 0.2562 - accuracy: 0.9130
Epoch 63/100
5/5 [==============================] - 0s 4ms/step - loss: 0.2548 - accuracy: 0.9203
Epoch 64/100
5/5 [==============================] - 0s 3ms/step - loss: 0.2536 - accuracy: 0.9203
Epoch 65/100
5/5 [==============================] - 0s 4ms/step - loss: 0.2523 - accuracy: 0.9203
Epoch 66/100
5/5 [==============================] - 0s 4ms/step - loss: 0.2513 - accuracy: 0.9275
Epoch 67/100
5/5 [==============================] - 0s 3ms/step - loss: 0.2495 - accuracy: 0.9275
Epoch 68/100
5/5 [==============================] - 0s 3ms/step - loss: 0.2480 - accuracy: 0.9275
Epoch 69/100
5/5 [==============================] - 0s 4ms/step - loss: 0.2471 - accuracy: 0.9275
Epoch 70/100
5/5 [==============================] - 0s 4ms/step - loss: 0.2459 - accuracy: 0.9275
Epoch 71/100
5/5 [==============================] - 0s 4ms/step - loss: 0.2444 - accuracy: 0.9275
Epoch 72/100
5/5 [==============================] - 0s 4ms/step - loss: 0.2441 - accuracy: 0.9203
Epoch 73/100
5/5 [==============================] - 0s 4ms/step - loss: 0.2422 - accuracy: 0.9203
Epoch 74/100
5/5 [==============================] - 0s 3ms/step - loss: 0.2410 - accuracy: 0.9203
Epoch 75/100
5/5 [==============================] - 0s 4ms/step - loss: 0.2403 - accuracy: 0.9203
Epoch 76/100
5/5 [==============================] - 0s 4ms/step - loss: 0.2387 - accuracy: 0.9203
Epoch 77/100
5/5 [==============================] - 0s 3ms/step - loss: 0.2382 - accuracy: 0.9203
Epoch 78/100
5/5 [==============================] - 0s 3ms/step - loss: 0.2374 - accuracy: 0.9203
Epoch 79/100
5/5 [==============================] - 0s 3ms/step - loss: 0.2368 - accuracy: 0.9203
Epoch 80/100
5/5 [==============================] - 0s 3ms/step - loss: 0.2354 - accuracy: 0.9203
Epoch 81/100
5/5 [==============================] - 0s 3ms/step - loss: 0.2355 - accuracy: 0.9203
Epoch 82/100
5/5 [==============================] - 0s 3ms/step - loss: 0.2342 - accuracy: 0.9203
Epoch 83/100
5/5 [==============================] - 0s 3ms/step - loss: 0.2337 - accuracy: 0.9203
Epoch 84/100
5/5 [==============================] - 0s 4ms/step - loss: 0.2329 - accuracy: 0.9203
Epoch 85/100
5/5 [==============================] - 0s 4ms/step - loss: 0.2318 - accuracy: 0.9275
Epoch 86/100
5/5 [==============================] - 0s 4ms/step - loss: 0.2317 - accuracy: 0.9275
Epoch 87/100
5/5 [==============================] - 0s 4ms/step - loss: 0.2311 - accuracy: 0.9275
Epoch 88/100
5/5 [==============================] - 0s 3ms/step - loss: 0.2300 - accuracy: 0.9275
Epoch 89/100
5/5 [==============================] - 0s 4ms/step - loss: 0.2290 - accuracy: 0.9275
Epoch 90/100
5/5 [==============================] - 0s 6ms/step - loss: 0.2283 - accuracy: 0.9203
Epoch 91/100
5/5 [==============================] - 0s 2ms/step - loss: 0.2287 - accuracy: 0.9203
Epoch 92/100
5/5 [==============================] - 0s 3ms/step - loss: 0.2292 - accuracy: 0.9203
Epoch 93/100
5/5 [==============================] - 0s 2ms/step - loss: 0.2283 - accuracy: 0.9275
Epoch 94/100
5/5 [==============================] - 0s 3ms/step - loss: 0.2272 - accuracy: 0.9275
Epoch 95/100
5/5 [==============================] - 0s 3ms/step - loss: 0.2268 - accuracy: 0.9275
Epoch 96/100
5/5 [==============================] - 0s 4ms/step - loss: 0.2257 - accuracy: 0.9275
Epoch 97/100
5/5 [==============================] - 0s 4ms/step - loss: 0.2263 - accuracy: 0.9203
Epoch 98/100
5/5 [==============================] - 0s 3ms/step - loss: 0.2251 - accuracy: 0.9203
Epoch 99/100
5/5 [==============================] - 0s 3ms/step - loss: 0.2249 - accuracy: 0.9203
Epoch 100/100
5/5 [==============================] - 0s 4ms/step - loss: 0.2242 - accuracy: 0.9203

In [30]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

2/2 - 0s - loss: 0.3840 - accuracy: 0.8478 - 265ms/epoch - 133ms/step
Loss: 0.38401877880096436, Accuracy: 0.8478260636329651